{% extends 'projectBundle:Default:index.html.twig' %}
{% block title %}
    {{ titleText }}
{% endblock %}

{% block content %}
    {{ form(form) }}
    <a href="{{ path('book_delete_img', {'id' : id}) }}" class="btn btn-danger sm">
        Удалить обложку
    </a>
{% endblock %}
