{% extends 'projectBundle:Default:index.html.twig' %}
{% block title %}
    {{ titleText }}
{% endblock %}

{% block content %}
    {{ form(form) }}

    <a href="{{ path('book_delete', {'id': id}) }}" type="button" class="btn btn-danger">Удалить</a>

{% endblock %}

{% block javascripts %}
    <script src="http://bootboxjs.com/bootbox.js"></script>
{% endblock %}