<div class="container">
    <div class="havbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
        </button>
        <a class="navbar-brand" href="/index.php">AutoBook </a>
    </div>
    <div class="navbar-collapse collapse no_horizontal_scroll">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form navbar-left" role="search" action="search.php" method="get" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Поиск книги" name="name" required/>
                    </div>
                    <button type="submit" class="btn btn-default">Поиск</button>
                </form>
            </li>
            {% for item in headerData%}
                <li {% if activeMenu == item.id %} class="active" {% endif %} >
                    <a href="{{ item.url }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
